<!-- Set Apple icons for when prototype is saved to home screen -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">
<!-- Include the compiled CSS -->
<link rel="stylesheet" href="assets/ratchet.css">
<link rel="stylesheet" href="assets/scorekeeper.css">
<!-- Include the compiled JS -->
<script type="text/javascript" src="assets/ratchet.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
<script type="text/javascript" src="assets/scorekeeper.js"></script>